 <div class="container-fluid mt-5">
    <h1 class="mb-4">Order History</h1>
    <div class="row">
      <div class="col-lg-10 mx-auto">
        <div class="table-responsive">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Order ID</th>
                <th scope="col">Date</th>
                <th scope="col">Total</th>
                <th scope="col">Status</th>
              </tr>
            </thead>
            <tbody>
              

            {{#each data as |order| }}

              <tr>
                <th scope="row">{{@index}}</th>
                <td>{{order.transaction_id}}</td>
                <td>{{order.created_date}}</td>
                <td>${{order.total}}</td>
                <td><span class="badge badge-success">{{order.ordered}}</span></td>
              </tr>

            {{/each}}



              
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>