<section class="product">
  <img src="{{Products.product_url}}" alt="{{Products.product_description}}" height="400" width="400">
  <div class="product-details">
    <h4>{{Products.product_name}}</h4>
    <h5>{{Products.product_description}}</h5>
    <h6>Cost: ${{Products.price}}</h6>
  </div>
</section>