<section class="product">
  <img src="/images/{{product.filename}}" alt="{{product.description}}">
  <div class="product-details">
    <h3>{{product.item}}</h3>
    <h2>{{product.description}}</h2>
    <p>Cost: {{product.cost}}</p>
  </div>
</section>