<section class="product">
  <img src="{{Product.product_url}}" alt="{{Product.product_description}}" height="400" width="400">
  <div class="product-details">
    <h3>{{Product.product_name}}</h3>
    <h2>{{Product.product_description}}</h2>
    <p>Cost: ${{Product.price}}</p>
  </div>
</section>